{% import 'macros' as macro %}
<!DOCTYPE html>
<html lang="{{ isoLocale }}" itemscope itemtype="http://schema.org/WebPage">
<head>
    {% include 'layouts/_common_head' %}
    {% block head-content %}{% endblock %}
</head>
<body class="{{ bodyClasses.join(' ') }} cn-controller-{{ controller }} cn-action-{{ action }}">

<div data-cn-body-wrapper class="cn-body-wrapper">
    {{ macro.flash_message('liked_product_notification', controller) }}
    {% widget 'first-time-seen' %}
    {% widget "menu" %}
    {% set a = {b: 1} %}
    {% set b = [1, 2, {a: 1}] %}
    {{ 1 +1 + 345.05}}
    {#
      abc this is an comment <data vid ></data>
      {% block before-content-wrapper %}{% endblock %}
      {% block before-content-wrapper %}{% endblock %}
    #}
    {% block before-content-wrapper %}{% endblock %}
    {% block main-content-header %} {% endblock %}
    <div class="cn-main">
        {% block first-in-content-wrapper %}{% endblock %}
        {% block content %}{% endblock %}
        {% block last-in-content-wrapper %}{% endblock %}
    </div>
    {% block after-content-wrapper %}{% endblock %}

    {% widget 'footer' %}
</div>
<div data-cn-gototop class="cn-gototop hidden"></div>
</body>
</html>
{% set test = true %}
